@*signIn from Identity Framework*@
@inject SignInManager<IdentityUser> _signInManager;  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My School ERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="https://realdanilo.vercel.app/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My School ERP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Enrollment" asp-action="Index">Enrollment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index">Tasks</a>
                        </li>
                        <div class="nav-item dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Index">Students</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Instructor" asp-action="Index">Teachers</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="Index">Subjects</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LetterGrade" asp-action="Index">Grading System</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Period" asp-action="Index">School Period</a>
                                @*if admin*@
                                <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Manage Roles</a>

                                @*checks if sign in*@
                                @*#User param is injected into Razo pages*@
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    <p class="dropdown-item">Hi, @User.Identity.Name</p>
                                    @*sign out always a post form*@
                                    <form method="post" asp-controller="UserAccount" asp-action="logout">
                                        <button type="submit" class="dropdown-item">Log out</button>
                                    </form>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="UserAccount" asp-action="LogIn">Log In</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="UserAccount" asp-action="Register">Register</a>
                                }
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @*Alert, make another component?*@
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-primary" role="alert">
                @ViewBag.AlertMessage
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - My Shool ERP - <a asp-area="" asp-controller="Home" asp-action="Index">Index</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
