@model MySchoolSystem.Models.Period

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ends)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ends)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
