@model MySchoolSystem.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Instructor.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
